
@{
    ViewBag.Title = "Error";
}

<h2>Please Contact with your admin <a href="mailto:mohamedgalal9454@gmail.com">mohamedgalal9454@gmail.com</a></h2>

@*To run this page please go to web.config and make mode="On" in :
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    *@